<div *ngIf="include" class="input_box">
  <div style="display: flex;">
  <div>{{ inpLabel }}</div>&nbsp;
  <i style="font-size: 18px;" (click)="setLabel()" class="material-icons">edit</i>
  <i style="font-size: 18px;" (click)="remove()" class="material-icons">delete</i>
  <i style="font-size: 18px;" (click)="eval_suggestions()" class="material-icons">add</i></div>

  
  <input #input type={{input_type}} placeholder="value">

  <div class="sugg_box">
    <div class="suggestion_item" *ngFor="let sugg of suggs">
      <div (click)="setValue(sugg)">{{ sugg }}</div>
    </div>
  </div>
</div>