.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    flex-wrap: wrap;
}

#counter {
    margin: 0.5rem;
}

#quick-add-pomodoro {
    display: flex;
}

.pomodoro {
    margin: 1em;
    width: 300px;
}