mat-form-field, mat-card {
    margin: 0.3em;
}

#filterContainer {
    background-color: rgb(40, 68, 90);
}

.summaryCard {
    width: 20%;
    display: inline-block;
    background-color: rgb(40, 68, 90);
}


