<div class="container">
  <mat-card class="form-wrapper">
    <form [formGroup]="simpleForm">
      <mat-form-field *ngFor="let field of getKeys()" color="accent">
        <mat-label>{{ field }}</mat-label>
        <input
          matInput
          type="{{ getTypeFromFields(field) }}"
          formControlName="{{ field }}"
        />
        <button
          matSuffix
          mat-icon-button
          type="button"
          (click)="deleteFormField(field)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>

      <mat-card class="add-field-form">
        <mat-form-field color="accent">
          <mat-label>Field name</mat-label>
          <input matInput [formControl]="newFieldName" />
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Field type</mat-label>
          <mat-select [formControl]="newFieldType">
            <mat-option
              *ngFor="let fieldType of fieldTypes"
              [value]="fieldType"
            >
              {{ fieldType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-button
          type="button"
          (click)="addFormField()"
          [disabled]="newFieldName.invalid || newFieldType.invalid"
        >
          Add new field
        </button>
      </mat-card>
      


      <div class="buttons">
        <button *ngIf="!update_key"
          mat-button
          color="accent"
          (click)="onSubmit()"
          [disabled]="simpleForm.invalid"
        >
          Submit +{{countAdded}}
        </button>

        <button *ngIf="update_key"
          mat-button
          color="accent"
          (click)="onSubmit()"
          [disabled]="simpleForm.invalid"
        >
          Save
        </button>
        
      </div>
    </form>
  </mat-card>
</div>
