<form (ngSubmit)="onSubmit()" id='aform'>
  <div id="Lender">
    <input type="text" placeholder="Lender">
    <div class="suggestions"></div>
  </div>
  <div id="Borrower">
    <input type="text" placeholder="Borrower">
    <div class="suggestions"></div>
  </div>
  <div id="Amount">
    <input type="number" placeholder="Amount">
  </div>
  <div id="Currency">
    <input type="text" placeholder="Currency">
    <div class="suggestions"></div>
  </div>
  <div id="Account">
    <input type="text" placeholder="Account">
    <div class="suggestions"></div>
  </div>
  <div id="Date">
    <input type="text" placeholder="Date">
  </div>
  <div id="Due">
    <input type="text" placeholder="Due">
  </div>
  <button type="submit" id="sbmbtn">Submit</button>
</form>