<mat-drawer-container class="example-container" style="background-color: rgba(0, 0, 0, 0);" autosize>
  <mat-drawer #drawer id="menu_box" class="example-sidenav" mode="side">
    <button mat-raised-button class="menu-button" (click)="drawer.toggle(); is_on=false">
      Hide
    </button>
      <div *ngFor="let btn of buttons">
        <button class="menu-button" *ngIf="btn.routerLink" mat-raised-button color="{{ btn.color }}" routerLink="{{ btn.routerLink }}">
          {{ btn.iconName }}
        </button>
        <button class="menu-button" *ngIf="!btn.routerLink" mat-raised-button color="{{ btn.color }}" (click)="changeMenu(btn.iconName)">
          {{ btn.iconName }}
        </button>
      </div>
  </mat-drawer>
    <button *ngIf="!is_on" type="button" mat-icon-button (click)="drawer.toggle(); is_on=true">
      <mat-icon >apps</mat-icon>
    </button>
</mat-drawer-container>