<form (ngSubmit)="onSubmit()" id='aform'>
    <div id="Date">
      <input type="date" placeholder="Date">

    </div>
    <div id="Source">
      <input type="text" placeholder="Source">
      <div class="suggestions"></div>
    </div>
    <div id="Source amount">
      <input type="number" placeholder="Source amount">
    </div>
    <div id="Source currency">
      <input type="text" placeholder="Source currency">
      <div class="suggestions"></div>
    </div>
    <div id="Destination">
      <input type="text" placeholder="Destination">
      <div class="suggestions"></div>
    </div>
    <div id="Destination amount">
      <input type="number" placeholder="Destination amount">
    </div>
    <div id="Destination currency">
      <input type="text" placeholder="Destination currency">
      <div class="suggestions"></div>
    </div>
    <button type="submit" id="sbmbtn">Submit</button>
  </form>