.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    flex-wrap: wrap;
}

.form-wrapper {
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;

}