<div class="container">
    <mat-card class="form-wrapper">
      <form *ngIf="!isCounterRunning" [formGroup]="pomodoroForm" (ngSubmit)="run_counter()">
        <mat-form-field color="accent">
          <mat-label>Category</mat-label>
          <input matInput type="text" formControlName="category"/>
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name"/>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Minutes</mat-label>
            <input matInput type="number" formControlName="minutes"/>
          </mat-form-field>
  
        <div class="buttons">
  
          <button
            mat-button
            type="submit"
            color="accent"
            [disabled]="pomodoroForm.invalid"
          >
            Start
          </button>
        </div>
      </form>
      <h2 *ngIf="isCounterRunning">{{counter$ | async}}</h2>
    </mat-card>
  </div>
  