/* You can add global styles to this file, and also import other style files */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
body{
    margin: 0;
}

.search_box{
float: right;
}
input{
    background: rgba(255,255,255,.1);
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    &:focus {
        background: rgba(220,220,220,1);
    }
}
.field_suggestion   {
    font: 100% $font-stack;
    color: $primary-color;
    padding: 7px;
    border-radius: 15px;
    background: #aaaaaa;
    display: inline-block;
    margin: 2px;
    &:hover{
        background-color: #555555;
        color: #ffffff;
    }
}
.suggestions{
    width: 100%;
    padding: 0 2px;
    margin: 2px 8px;
    overflow-x: auto;
    white-space: nowrap ;
    background-color: #dddddd;
    border-radius: 10px;
}

button{
    margin: 2px;
}
.del_button{
    background-color: #f44336;
    color: white;
    &:hover{
        background-color: #f40000;
    }
}
.attribute{
    width: 25%;
}
.value{
    width: 55%;
    margin: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
